.page {
  overflow-x: hidden;
  height: 100%;
  font-family: var(--font-main);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page-body {
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--white-color);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 3px solid var(--blue);
  outline-offset: 3px;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-title {
  position: absolute;
  top: rem(-42);
  z-index: 1;
  font-weight: 700;
  font-size: clamp(2.188rem, 1.96rem + 1.14vw, 2.813rem);
  text-transform: uppercase;
  color: var(--soft-dark);
}
