.page {
  overflow-x: hidden;
  height: 100%;
  font-family: var(--font-main);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page-body {
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--light-gray);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
