:root {
  --container-width: 1200px;
  --container-padding: 15px;

  // Fonts
  --font-main: "Gilroy", sans-serif;

  // Colors
  --white-color: #fff;
  --text-color: #272727;
  --error-color: #ac182c;
  --soft-dark: #465067;
  --light-gray: #e8e8e8;
  --green: #54994b;
  --blue: #06f;
  --dark-blue: #0041a4;

  // Gradients
  --btn-gradient: linear-gradient(to right, #0041a4 3.4%, #00a386 98.93%);
  --overlay-gradient: linear-gradient(180deg, rgb(0 102 255 / 0%) 31%, #000 100%);
  --overlay-gradient-hover: linear-gradient(180deg, rgb(0 102 255 / 40%) 31%, #000 100%);

  // Shadows
  --green-shadow: 0 10px 50px 0 rgb(0 221 185 / 25%);
  --gray-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%);

  // Sizes
  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;

  // Border-radius
  --main-border-radius: rem(20);
}
