/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable order/properties-order */
.about {
  position: relative;
  background-color: var(--white-color);

  &__container {
    padding-top: rem(100);
    padding-bottom: rem(100);

    @media (max-width: 390px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__helper {
    position: relative;
    padding-top: rem(30);
    padding-left: clamp(1.25rem, -11.185rem + 20.75vw, 4.375rem);
    min-height: 61px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: rem(100);
      background-image: url("../img/about/about-bg-top.svg");
      background-size: cover;
      background-repeat: no-repeat;

      @media (max-width: 767px) {
        width: clamp(19.875rem, 13.074rem + 34vw, 29.375rem);
        top: rem(8);
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../img/about/about-bg-topm.svg");
      }

      // @media (max-width: 767px) {
      //   top: 20px;
      // }

      @media (max-width: 390px) {
        top: rem(24);
      }
    }

    @media (max-width: 767px) {
      padding-left: 0;
    }
  }

  &__section-title {
    position: relative;
    font-weight: 700;
    font-size: clamp(2.188rem, 1.96rem + 1.14vw, 2.813rem);
    text-transform: uppercase;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    column-gap: rem(30);
    border-radius: 0 0 rem(35) rem(35);
    padding-top: clamp(0.625rem, -0.42rem + 5.23vw, 3.5rem);
    padding-bottom: clamp(1.563rem, -0.142rem + 8.52vw, 6.25rem);
    padding-right: clamp(1.25rem, -11.185rem + 20.75vw, 4.375rem);
    padding-left: clamp(1.25rem, -11.185rem + 20.75vw, 4.375rem);
    background-color: var(--light-gray);

    @media (max-width: 767px) {
      flex-direction: column;
      border-radius: rem(20) rem(20);
    }
  }

  &__description {
    flex-basis: rem(500);

    @media (max-width: 767px) {
      flex-basis: initial;
    }
  }

  &__title {
    margin-bottom: rem(20);
    font-weight: 700;
    font-size: rem(25);
    color: var(--green);
  }

  &__text {
    font-weight: 500;

    &:not(:last-child) {
      padding-bottom: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
    }
  }

  &__image-wrapper {
    flex-basis: rem(500);
    overflow: hidden;
    border-radius: rem(20);

    @media (max-width: 767px) {
      order: -1;
      flex-basis: initial;
      margin-bottom: rem(20);
    }
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}
