/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable order/properties-order */
.about {
  position: relative;
  background-color: var(--white-color);

  &__container {
    padding-top: rem(100);
    padding-bottom: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);

    @media (max-width: 390px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__helper {
    position: relative;
  }

  &__section-title {
    position: relative;
    margin-bottom: calc(clamp(0.688rem, -1.527rem + 4.62vw, 1.938rem) * -1);
    font-weight: 700;
    font-size: clamp(2.188rem, 1.96rem + 1.14vw, 2.813rem);
    text-transform: uppercase;
    padding-left: clamp(1.25rem, -11.185rem + 20.75vw, 4.375rem);
    z-index: 1;

    @media (max-width: 767px) {
      margin-bottom: 0;
      padding-left: 0;
      text-align: center;
    }
  }

  &__wrapper {
    display: flex;
    column-gap: rem(30);
    padding-top: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
    padding-bottom: clamp(1.563rem, -0.142rem + 8.52vw, 6.25rem);
    background-color: var(--light-gray);

    &::before {
      background-image: url("../img/about/about-bg-top.svg");

      @media (max-width: 767px) {
        width: rem(320);
        top: rem(-49);
        background-image: url("../img/about/about-bg-topm.svg");
      }

      @media (max-width: 390px) {
        // top: rem(-24);
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__description {
    position: relative;
    z-index: 1;
    flex-basis: rem(500);

    @media (max-width: 767px) {
      flex-basis: initial;
      overflow: hidden;
    }
  }

  &__title {
    margin-bottom: rem(20);
    font-weight: 700;
    font-size: rem(25);
    color: var(--green);

    @media (max-width: 767px) {
      margin-bottom: clamp(0.625rem, 0.178rem + 2.24vw, 1.25rem);
      font-size: clamp(1.125rem, 0.812rem + 1.57vw, 1.563rem);
    }
  }

  &__text {
    font-weight: 500;
    font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
    transition: all 0.3s ease-in-out;

    &:not(:last-child) {
      margin-bottom: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);

      @media (max-width: 390px) {
        margin-bottom: var(--mb, 20px);
      }
    }
  }

  &__image-wrapper {
    position: relative;
    z-index: 1;
    flex-basis: rem(500);
    overflow: hidden;
    border-radius: rem(20);

    @media (max-width: 767px) {
      order: -1;
      flex-basis: initial;
      margin-bottom: rem(20);
    }
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 390px) {
  .collapsed-container {
    padding-bottom: 20px;
  }
}
