.advantages {
  padding-bottom: rem(100);
  background-color: var(--white-color);

  // &__container {
  // }
  // &__wrapper {
  // }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    gap: rem(30);
  }

  &__item {
    text-align: center;
  }

  &__img {
    margin-bottom: rem(23);
  }

  &__text {
    font-weight: 700;
  }
}
