.portfolio {
  margin-bottom: clamp(7.5rem, 3.795rem + 18.52vw, 17.688rem);

  &__container {
    position: relative;

    @media (max-width: 390px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__title {
    padding-left: clamp(1.25rem, -11.185rem + 20.75vw, 4.375rem);
    max-width: rem(300);

    @media (max-width: 767px) {
      left: 50%;
      padding-left: 0;
      text-align: center;
      transform: translateX(-50%);
    }
  }

  &__wrapper {
    position: relative;
    padding-top: clamp(3.75rem, 2.841rem + 4.55vw, 6.25rem);
    padding-bottom: rem(40);
    height: rem(486);
    background-color: var(--light-gray);
    isolation: isolate;

    &::before {
      top: rem(-58);
      z-index: -1;
      width: rem(602);
      background-image: url("../img/portfolio/portfolio-bg-top.svg");

      @media (max-width: 767px) {
        top: rem(-49);
        width: rem(320);
        background-image: url("../img/portfolio/portfolio-bg-topm.svg");
      }
    }

    @media (max-width: 767px) {
      height: initial;
    }
  }

  &__collaps-helper {
    overflow: hidden;
  }

  &__slider {
    position: absolute;
    left: clamp(1.25rem, -11.185rem + 20.75vw, 4.375rem);
    right: clamp(1.25rem, -11.185rem + 20.75vw, 4.375rem);

    @media (max-width: 767px) {
      position: initial;
      left: initial;
      right: initial;
    }
  }

  &__navigation {
    position: absolute;
    left: clamp(1.25rem, -11.121rem + 20.66vw, 4.375rem);
    display: flex;
    column-gap: rem(60);
    grid-template-columns: 1fr 1fr 1fr;
    max-width: rem(330);

    .portfolio-btn {
      cursor: pointer;
    }

    .swiper-button-disabled {
      opacity: 0.7;
      cursor: default;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__counter {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-weight: 700;
    font-size: rem(50);
  }

  &__counter-current {
    font-weight: 700;
    font-size: rem(85);
  }

  &__counter-divider {
    padding-right: rem(8);
  }

  &__slider-handler {
    position: absolute;
    left: 50%;
    top: clamp(19.75rem, 3.329rem + 82.1vw, 42.688rem);
    display: none;
    width: 90%;
    transform: translateX(-50%);

    @media (max-width: 767px) {
      display: flex;
    }
  }
}

.item {
  display: flex;
  gap: rem(30);

  &__content {
    flex: 0 1 rem(400);

    @media (max-width: 767px) {
      flex: initial;
    }
  }

  &__title {
    margin-bottom: rem(20);
    font-weight: 700;
    font-size: clamp(1.125rem, 0.966rem + 0.8vw, 1.563rem);
    color: var(--green);

    @media (max-width: 767px) {
      margin-bottom: clamp(0.625rem, 0.178rem + 2.24vw, 1.25rem);
    }
  }

  &__text {
    font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);

    &:not(:last-child) {
      margin-bottom: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
    }
  }

  &__image-wrapper {
    flex: 0 1 rem(600);
    overflow: hidden;
    border-radius: rem(20);
    height: 100%;

    @media (max-width: 767px) {
      flex: initial;
    }
  }

  &__image {
    width: 100%;
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    row-gap: rem(60);
  }
}
