.services {
  background-color: var(--light-gray);

  &__container {
    position: relative;
    isolation: isolate;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -58px;
      width: rem(602);
      height: 100px;
      background-image: url("../img/services/services-bg-top.svg");
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateX(-50%);

      @media (max-width: 767px) {
        top: rem(-49);
        width: rem(320);
        background-image: url("../img/services/services-bg-topm.svg");
      }
    }
  }

  &__title {
    left: 50%;
    transform: translateX(-50%);
  }

  &__list {
    display: flex;
    padding-top: clamp(2.125rem, 1.534rem + 2.95vw, 3.75rem);
    padding-bottom: clamp(5.125rem, 0.142rem + 13.31vw, 10.125rem);
    gap: clamp(1.25rem, -1.237rem + 4.15vw, 1.875rem);

    @media (max-width: 599px) {
      padding-bottom: rem(82);
    }

    @media (max-width: 959px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    --grad1: linear-gradient(rgb(0 0 0 / 20%) 28%, rgb(0 102 255 / 30%) 54%, #000 99%);

    position: relative;
    overflow: hidden;
    border-radius: rem(20);
    padding-top: rem(172);
    width: calc(100% / 4);
    min-height: rem(500);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--white-color);
    isolation: isolate;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: var(--overlay-gradient-hover);
      opacity: var(--grad-opacity, 0);
    }

    // &:nth-child(1) {
    //   background-image: var(--grad1),
    //     image-set(
    //       url("../img/services/fan.avif") type("image/avif"),
    //       url("../img/services/fan.webp") type("image/webp"),
    //       url("../img/services/fan.jpg") type("image/jpg")
    //     );
    // }

    &:nth-child(1) {
      background-image: var(--grad1), url("../img/services/fan.jpg");
    }

    &:nth-child(2) {
      background-image: var(--grad1), url("../img/services/painting.jpg");
    }

    &:nth-child(3) {
      background-image: var(--grad1), url("../img/services/building.jpg");
    }

    &:nth-child(4) {
      background-image: var(--grad1), url("../img/services/sprayer.jpg");
    }

    @media (max-width: 959px) {
      flex: 1 1 40%;
    }

    @media (max-width: 499px) {
      flex-basis: 100%;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 rem(20);
  }

  &__icon {
    margin-bottom: rem(40);
  }

  &__text {
    font-weight: 700;
    font-size: rem(20);
    text-align: center;
    color: var(--white-color);
    pointer-events: none;
  }

  &__button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: rem(130);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: var(--btn-bottom, -1000px);
      border-radius: var(--btn-radius, -100px) var(--btn-radius, -100px) 20px 20px;
      width: 100%;
      height: rem(210);
      background-color: var(--blue);
      transition: all 0.4s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: rem(40);
      height: rem(40);
      background-image: url("../img/utils-icons/button-arrow.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%) rotate(var(--btn-rotate, 180deg));
      transform-origin: center;
    }
  }

  &__button-text {
    position: relative;
    z-index: 1;
    display: block;
    font-weight: 700;
    font-size: rem(25);
    line-height: 100%;
    color: var(--white-color);
  }

  &__slider-handler {
    position: absolute;
    left: 50%;
    bottom: rem(25);
    display: none;
    width: 90%;
    transform: translateX(-50%);

    @media (max-width: 499px) {
      display: flex;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: clamp(3.125rem, 1.783rem + 6.71vw, 5rem);
  }
}
