.curved-bg {
  position: relative;
  border-radius: rem(35) rem(35) rem(35) rem(35);
  /* stylelint-disable-next-line order/properties-order */
  padding-right: clamp(1.25rem, -11.185rem + 20.75vw, 4.375rem);
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  padding-left: clamp(1.25rem, -11.185rem + 20.75vw, 4.375rem);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: rem(100);
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: 767px) {
    border-radius: clamp(1.25rem, 0.579rem + 3.36vw, 2.188rem);
  }
}
