.hero-slider {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  max-width: rem(1030);

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  }

  &__slide {
    position: relative;
    display: block;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transition-property: transform;
  }

  &__handler {
    position: absolute;
    left: 0;
    bottom: clamp(0rem, -3.255rem + 8.68vw, 3.25rem);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(270);
    height: rem(25);
    gap: rem(17);

    .swiper-pagination-custom {
      display: flex;
      flex-grow: 1;
      gap: rem(20);
    }

    .swiper-pagination-bullet {
      flex-grow: 1;
      flex-basis: rem(51);
      border-radius: rem(100);
      height: rem(4);
      background-color: var(--white-color);
    }

    .swiper-pagination-bullet-active {
      background-color: var(--dark-blue);
    }

    .counter-total,
    .counter-current {
      font-weight: 700;
      font-size: rem(18);
    }
  }
}

.swiper-horizontal {
  touch-action: pan-y;
}

.slide {
  display: flex;

  &__content {
    flex-basis: rem(550);

    @media (max-width: 1025px) {
      display: flex;
      flex-shrink: 1.4;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: clamp(1.25rem, -3.132rem + 11.69vw, 5.625rem);
    max-width: rem(547);
    font-weight: 700;
    font-size: clamp(1.25rem, 0.24rem + 3.85vw, 3.125rem);
    text-transform: uppercase;
    pointer-events: none;
  }

  &__image-wrapper {
    position: relative;
    flex-shrink: 1.5;
    flex-basis: rem(480);

    @media (max-width: 599px) {
      order: -1;
    }
  }

  &__image--1 {
    width: rem(470);
    transform: translate(rem(17), rem(-5));
  }

  &__image {
    // max-width: clamp(14.625rem, 9.261rem + 26.82vw, 29.375rem);

    @media (max-width: 1025px) {
      // max-width: unset;
    }
  }

  &__image--2 {
    transform: translateX(rem(-20));
  }

  &__image--3 {
    transform: translateX(rem(-10));
  }

  @media (max-width: 599px) {
    flex-direction: column;
  }
}
