.mobile-nav-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: rem(40);
  height: rem(30);
  background-color: var(--color--white);

  @media (max-width: 958px) {
    display: flex;
  }
}

.nav-icon {
  position: relative;
  display: block;
  width: rem(40);
  height: rem(4);
  background-color: var(--text-color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: rem(40);
  height: rem(4);
  background-color: var(--text-color);
  transition:
    transform 0.1s ease-in,
    top 0.1s linear 0.1s;
}

.nav-icon::before {
  top: calc(rem(1) * -8);
}

.nav-icon::after {
  top: calc(rem(1) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition:
    top 0.1s linear,
    transform 0.1s ease-in 0.1s;
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}
