.nav {
  &__list {
    display: flex;
    column-gap: 2.08vw;
    flex-wrap: wrap;

    @media (max-width: 958px) {
      flex-direction: column;
      align-items: center;
      row-gap: clamp(1.25rem, 0.937rem + 1.57vw, 1.875rem);
    }
  }

  &__item {
    @media (max-width: 958px) {
      overflow: hidden;
    }
  }

  &__link {
    font-weight: 600;
    font-size: rem(18);
    transition: color 0.2s ease-in-out;

    @include hover {
      color: var(--dark-blue);
    }

    @media (max-width: 958px) {
      display: block;
      font-size: clamp(1rem, 0.561rem + 2.19vw, 1.875rem);
      text-align: left;
    }
  }
}
