.portfolio-swiper {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.portfolio-swiper-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: nowrap !important;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  gap: initial !important;
}

.portfolio-swiper-slide {
  position: relative;
  display: block;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  width: 100%;
  height: 100%;
  transition-property: transform;
}
