.slider-handler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: rem(270);
  height: rem(25);
  gap: rem(17);

  .swiper-pagination-custom {
    display: flex;
    flex-grow: 1;
    gap: rem(20);
  }

  .swiper-pagination-bullet {
    flex-grow: 1;
    flex-basis: rem(51);
    border-radius: rem(100);
    height: rem(4);
    background-color: var(--white-color);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--dark-blue);
  }

  .counter-total,
  .counter-current {
    font-weight: 700;
    font-size: rem(18);
  }
}
